


.main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image:url('../assets/bgfirst.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */


  }
.inputContainer{
    margin-top: 102px;
    padding: 21px 40px 20px 40px;
    width: 915px;
    height: 83px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;

}
  
.overlay {
    width: 100%;
    height: 100%;   
    position: absolute;
    display: flex;
    flex-direction: column;
  align-items: center;
    
}
.input{
    width: 100%;    
    font-family: sans-serif inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0px;
    outline: none;
    
}

@media only screen and (max-width: 700px) {
    /* Styles for screens wider than 600px (e.g., tablets) */
    
    .inputContainer {
      margin-top: 100px;
      padding: 15px;
      width: 90%;
      height: 50px;
    }
  
    .input {
      font-size: 24px;
    }
  }
@media (min-width: 700px) {
  .main{
    height: 65vw;
  }
  
}
